name: Push-to-EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: windows-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Build and Publish
      run: |
        # Add your build and publish commands here
        # For example: dotnet publish -c Release -o publish

    - name: Copy files to AWS Windows Server
      run: |
        $sourcePath = "./Drts.Lives.API/API/bin/Release/net8.0/publish/*" # Caminho para os arquivos a serem copiados
        $destinationPath = "${{ secrets.SECRET_TARGET_DIR }}" # Substitua pelo caminho real no seu servidor

        $session = New-PSSession -ComputerName $env:AWS_SERVER_IP -Credential (New-Object PSCredential -ArgumentList @($env:AWS_SERVER_USERNAME, (ConvertTo-SecureString -String $env:AWS_SERVER_PASSWORD -AsPlainText -Force))) -Authentication Basic -Port 5986 -UseSSL:$true
        Copy-Item -Path $sourcePath -Destination $destinationPath -ToSession $session -Recurse -Force
        Remove-PSSession $session
      env:
        AWS_SERVER_IP: ${{ secrets.SECRET_HOST }}
        AWS_SERVER_USERNAME: ${{ secrets.SECRET_USER }}
        AWS_SERVER_PASSWORD: ${{ secrets.SECRET_SSH }}
