name: Push-to-EC2
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Deploy to Windows Server
    runs-on: windows-latest
    steps:
    
    - name: Checkout the files
      uses: actions/checkout@v3

    - name: Release
      run: |
        cd ./Drts.Lives.API/API
        dotnet publish -c Release
        cd ../../.github
        
    - name: List Published Files
      run: |
        $publishedFiles = Get-ChildItem -Recurse ./Drts.Lives.API/API/bin/Release/net8.0/publish/
        Write-Host "Published Files:"
        $publishedFiles | ForEach-Object { Write-Host $_.FullName }

    - name: Copy files with PowerShell
      run: |
        $source = "./Drts.Lives.API/API/bin/Release/net8.0/publish/"
        $destination = "${{ secrets.SECRET_TARGET_DIR }}"

        Write-Host "Source: $source"
        Write-Host "Destination: $destination"

        # Criar um objeto de credencial
        $credential = New-Object PSCredential -ArgumentList ${{ secrets.SECRET_USER }}, (ConvertTo-SecureString -AsPlainText ${{ secrets.SECRET_SSH }} -Force)

        # Usar PowerShell Remoting para copiar arquivos
        $session = New-PSSession -ComputerName ${{ secrets.SECRET_HOST }} -Credential $credential
        Copy-Item -Path $source -Destination $destination -Recurse -Force -ToSession $session
        Remove-PSSession $session
